$moderate-blue: hsl(238, 40%, 52%);
$soft-Red: hsl(358, 79%, 66%);
$light-grayish-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);

$dark-blue: hsl(212, 24%, 26%);
$grayish-Blue: hsl(211, 10%, 45%);
$Light-gray: hsl(223, 19%, 93%);
$very-light-gray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

$card-space: 25px;
$card-space-mid: 20px;
$card-space-small: 16px;

$button-transition: 50ms;

$content-form-height: 96px;